@import "../../node_modules/bulma/sass/utilities/initial-variables";

// Bulma customization

// Colors
$purple: rgb(167, 40, 167);
$primary: $purple;

@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-quickview/dist/bulma-quickview.sass';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#elmish-app {
    height: 100%;
    padding: 0;
    margin: 0;
}

div.main-wrapper {
    height: 100%;
}

.page-content {
    min-height: 80%;
}

.card-content--with-min-height {
    min-height: 125px;
}

.quickview-content--with-padding {
    padding: 8px;
}

#graph-modal-cy-container {
   min-width: 350px;
   min-height: 350px;
}
